* {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;

  border: 0;
  border-radius: 0;
  outline: none;

  background: none;

  color: inherit;
  font: inherit;

  appearance: none;
  -webkit-appearance: none;
}

input,
textarea {
  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--primary-color);
    caret-color: var(--primary-color);

    -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary-color) inset;
    box-shadow: 0 0 0 1000px var(--bg-secondary-color) inset;

    transition: background-color 9999s ease-out 0s;
 
  }
}

textarea {
  resize: none;
}

button {
  cursor: pointer;

  color: inherit;
  font: inherit;

  background: none;

  appearance: none;
  -webkit-appearance: none;

  &:focus,
  &:active {
    outline: none;
  }
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
