@use 'reset';
@use 'classes';
@use 'colors';
@use 'fonts';
@use 'variables';
@use 'media';
@use 'mixins';

html {
  scrollbar-width: thin;
  scrollbar-color: var(--hint-primary-color) var(--bg-primary-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--hint-primary-color) transparent;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: var(--hint-primary-color);

    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--hint-primary-color);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

html,
body {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;

  margin: 0;

  overflow-x: hidden !important;

  background-color: var(--bg-primary-color);

  color: var(--muted-color);

  font-family: var(--font-open-sans);
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

:root {
  --vueuse-safe-area-top: 0px !important;
  --vueuse-safe-area-right: 0px !important;
  --vueuse-safe-area-bottom: 0px !important;
  --vueuse-safe-area-left: 0px !important;
}

#app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;

  transform: translateY(-10px);
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;

  transform: translateY(0);
}
